<style>
    footer.blue a {
        color: white;
    }
</style>
<br />
<!-- Footer -->
<footer class="page-footer footer-classic context-dark blue font-small blue pt-4 accent"
    style="padding-top: 0rem!important;">

    <div class="footer-copyright text-center py-3">
        <i class=emoji>:robot_face:</i> Luigi Beta – © 2018-{{ "now" | date: "%Y" }} tee#0187 and Samplasion#0325
        <br>
        <p style="color:white; font-size: 13.5px;"><a href="https://github.com/luigibeta/luigibeta.github.io">Source code</a></h4>
    </div>

</footer>

<script src="/scripts/rainbow.js"></script>
<script src="https://rawcdn.githack.com/ccampbell/rainbow/master/src/language/javascript.js"></script>
{% include scripts.html %}
